body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: rgba(191,120,255,0.38);
}
h1{
    font-style: italic;
    font-size: 66px;
}

.equal {
    font-size: 60px;
}

input {
    width: 90%;
    height: 50px;
    font-size: 24px;

}

select {
    height: 40px;
    margin-left: 2px;
    width: 50px;
    border: 1px solid black;
    border-radius: .3em;
}


.input {
    border: 1px solid black;
    border-radius: .3em;
}

#root {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}